@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

.keyboard-row {
  max-width: 500px;
}

.keyboard {
  max-width: 500px;
  min-width: 320px;
  width: 100%;
}
